*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: rgb(230, 200, 200);
}

/* navbar styling */
.navbar{
    display: flex;
    width: 100vw;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(163, 126, 126);
}

.logo{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 35px;
    color: #105652;
    color: white;
    transition: all 1s ease-in-out;
}
.logo:hover{
    transform: scale(1.3);
    color: burlywood;
}

.menu{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}
a{
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    margin-left: 15px;
    padding: 5px;
    transition: all 1s ease-in;
}

a:hover{
    transform: translate(1.1);
    background-color: burlywood;
}

.slide{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 21;
    display: none;
    padding: 5px 10px;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
}

/* media for slide and menu */
@media (max-width: 500px){
    a{
        display: none;
    }
    .slide{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 21;
        display: block;
        padding: 5px 10px;
        color: white;
        font-weight: bolder;
        border-radius: 10px;
    }
    .slide a{
            border: 1px solid black;
            border-radius: 10px;
            color: white;
            margin-left: 15px;
            padding: 5px;
            display: block;
            transition: all 1s ease-in;
        }
}


/* home section styling */


.image1{
    background-image: url(./blu1bg.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}
.image1 img{
    display: flex;
    justify-content: center;
    z-index: 2
}

.home-content{
    width: 50%;
    padding: 200px 0px 0px 80px;
    display: flex;
    justify-content: center;
    z-index: 2
}

.spn1{
    font-size: 1.8rem;
    font-weight: 700;
    color: yellowgreen;
}
    .spn2{
    font-size: 1.8rem;
    font-weight: 900;
    color: yellow;
    }
    .spn2{
     font-size: 1.5rem;
    font-weight: 600;
    color: palegreen;
    }

    .btn1, .btn2{
        border-radius: 10px;
        border: 1px solid black;
        padding: 2px;
        transition: all 1s ease-in;
    }
    .btn1:hover{
        background-color: rgb(61, 61, 167);
        transform: scale(1.3);
    }
    .btn2:hover{
        background-color: rgb(140, 224, 14);
        transform: scale(1.3);
    }


    /* about styling */
    .about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    margin: 40px 0px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 5px 50px 5px rgb(207)
    }

    .aboutme{
        width: 50%;
        padding: 5px 30px
        font-size: 18px;
        color: #0e726a;
        font-weight: 400;
        float: left;
        box-shadow: 4px 6px 8px 6px;
    }

    .abthead{
    color: black;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    border-bottom: 4px solid #ec911a;
    margin: 10px 0px 20px 0px;
    text-align: right;
    }
    .para{
        padding-left: 15px;
        line-height: 1.4;
        box-shadow: 2px 2px;
    }
    .image2{
        display: flex;
        width: 40%;
        /* overflow-x: hidden; */
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 50px 5px lightsteelblue
    }

    .techlogo{
        box-shadow: 1px 1px 50px 5px lightsteelblue
    }


    /* portfolio styling */

    .portfolio{
       display: flex;
       justify-content: center;
       justify-items: center;
       box-shadow: 1px 5px 10px ;
    }

    .porthead{
    color: #0e726a;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    border-bottom: 5px solid #d89059;
    text-align: center;
     margin-left: 50%;
      margin-right: 50%;
    }

    .portimage img{
        margin: 10px;
        padding: 10px;
        transition: all 1s ease-in;
    }
    .portimage img:hover{
        transform: scale(1.1);
    }

/* resume section styling */
.resume{
    display: flex;
    flex-wrap: wrap;
    height: 65vh;
}

.detail{
    float: left;
    width: 50%;
    border-radius: 5px;
    background-color: lightsteelblue;
    box-shadow: 5px 4px lightskyblue;
    padding-top: 100px;
    text-align: center;
    border-bottom: 2px red;
    box-shadow: 4px 4px rgb(209, 179, 179);
}

.image3{
    float: right;
    width: 50%;
    background-color: lightsteelblue;
    text-align: end;
}
.work, .qualify{
    font-size: 1.6rem;
    color: red;
    border-bottom: 1px solid red;
}


/* contact and form styling */

.contact{
    display: flex;
    flex-wrap: wrap;
    background-color: lightskyblue;
    border-radius: 5px;
    margin: 5px;
    width: 100%;
    height: 50vh;
    margin-left: 50px;
}

.connect{
    float: left;
    text-align: center;
    width: 50%;
    padding-top: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow:  12px 12px 2px 1px rgba(0, 0, 255, .2);
    transition: all 1s ease-in-out;
}
.connect:hover{
    transform: scale(1.1);
}

.form{
    float: right;
    text-align: center;
    width: 40%;
    background-color: white;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    transition: all 1s ease-in-out;
    box-shadow:  12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.form:hover{
    transform: scale(1.2);
}

.form input{
    width: 30%;
    height: 20px;
    margin: 2px 0px 2px 0px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: rgb(185, 192, 204);
}


.submit{
    background-color: cadetblue;
    transition: all 1s ease-in-out;
    border-radius: 10px;
}
.submit:hover{
    transform: scale(1.1);
    background-color: rgb(183, 233, 133);
    font-size: 1.rem;

}


/* animation sectionn  */
.cicle1{
    border: .5px solid red;
    background-color: rgb(140, 224, 14);
    border-radius: 10px;
    height: 20px;
    width: 20px;
    animation: cicle 1s ease-in-out 1s infinite;
    
}
@keyframes cicle{
    form{
        bottom: 0;
        background-color: rgb(140, 224, 14);
    }
    to{
        top: 0;
        border-color: rgb(230, 200, 200);
    }
}